@media screen and (min-width: 480px) and (max-width: 768px) {
  .card {
    text-align: center;
  }

  .header {
    margin-top: -20px;
  }

  .col-sm-3 {
    margin-bottom: 20px;
  }

  .list-group {
    flex-direction: column;
    font-size: 12px;
  }

  .Product .col {
    margin-left: calc(-1.477%);
  }

  .row .col {
    margin-top: calc(4%);
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .Product .col {
    display: flex;
  }

  .row .col {
    margin-top: 2%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .Product .col {
    display: flex;
    justify-content: center;
    padding-left: calc(-15%);
    margin-top: 4%;
  }

  .list-group {
    flex-direction: row;
    font-size: 12px;
  }

  #lap button {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 240px) and (max-width: 320px) {
  .row .col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }

  #smartphone .col {
    padding-left: calc(-10%);
  }

  .list-group {
    flex-direction: row;
    font-size: 12px;
  }

  #lap button {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 240px) {
  .Product .col {
    padding-right: calc(-70%);
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .color-sms-3 .list-group {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 561px) {
  .Product .col {
    margin-left: calc(-4.2323333%);
  }

  .row .col {
    margin-top: calc(4%);
  }
}

@media screen and (min-width: 438px) and (max-width: 536px) {
  .Product .col {
    padding-left: 0;
  }
}

@media screen and (min-width: 924px) and (max-width: 1199px) {
  .Product .col {
    padding-left: calc(-5%);
  }
}

@media screen and (min-width: 924px) and (max-width: 990px) {
  .row {
    margin-left: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 509px) {
  .Product .col {
    display: flex;
    flex-wrap: nowrap;
    padding-right: calc(0%);
    margin-right: 0;
  }

  .footer_area {
    text-align: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .Product .col {
    margin-left: calc(-2.25555%);
  }
}
