@font-face {
  font-family: Roboto;
  src: url(/Roboto/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Times, serif;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*------------------navbar---------------------*/
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: -20px;
}

/*--------------------menu---------------------*/
.row {
  margin-top: 15px;
}

.card:hover {
  transform: scale(1.05);
  background-color: #ffccff;
}

/*-------------------Product-------------------*/
.Product {
  padding-top: 8px;
  padding-bottom: 80px;
  background-color: azure;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
.list-group .list-group-item:hover {
  background-color: transparent;
  color: bisque;
}

.Product .row {
  margin-right: calc(-5%);
}

/*-------------------footer--------------------*/
footer {
  margin-left: -2%;
  display: flex;
  padding-right: 2%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.footer-container p {
  font-family: Roboto, Times, serif;
}

/*----------------Ảnh about us--------------------*/
.Information-images {
  text-align: center;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.Information-images .App:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  filter: alpha(opacity=100);
  box-shadow: 0 0 5px #fff;
}

.App {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.App2 {
  max-height: 150px;
}

.d-block {
  margin: 0 auto 0 auto;
}

.h6 {
  text-align: justify;
  margin: 0px 10%;
}

.col .card {
  height: 24rem;
  width: 15rem;
}

.col .card .card-img-top {
  width: 100%;
  height: 50%;
}

h3 h4 h5 p {
  font-family: Roboto, Times, serif;
  margin-top: 10px;
}

body {
  margin-top: 20px;
}

/* footer */
.footer_area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  padding: 60px;
}

.footer_area .row {
  margin-left: -25px;
  margin-right: -25px;
}

.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
  padding-right: 25px;
  padding-left: 25px;
}

.single-footer-widget {
  position: relative;
  z-index: 1;
}

.single-footer-widget .copywrite-text a {
  color: #747794;
  font-size: 1rem;
}

.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
  color: #3f43fd;
}

.single-footer-widget .widget-title {
  margin-bottom: 1.5rem;
}

.single-footer-widget .footer_menu li a {
  color: #747794;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
  color: #3f43fd;
}

.single-footer-widget .footer_menu li:last-child a {
  margin-bottom: 0;
}

.footer_social_area {
  position: relative;
  z-index: 1;
  margin-top: calc(-15%);
}

.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #f5f5ff;
  line-height: 40px;
  box-shadow: none;
  margin-right: 10px;
}

.footer_social_area a i {
  line-height: 36px;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
  color: #ffffff;
  transition: transform 0.5s ease-out;
  transform: rotate(405deg);
}

ol li,
ul li {
  list-style: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.footer_area a {
  text-decoration: none;
}

.footer_area .col-12 {
  text-align: center;
}
